body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
}
.name-highlight {
    color: orange;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
}
.new-banner {
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
    border: 1px solid red;
}
section {
    height: 500px;
}